{% extends "FormArmorBundle:Client:client_layout.html.twig" %}
{% block FormArmor_body %}
	<h2>AFFICHAGE DES SESSIONS DE FORMATION</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Formation</th>
            <th>Description</th>
			<th>Date début</th>
		</tr>
		</thead>
		<tbody>
			{% for session in lesSessions %}
                           
				<tr {# si le nombre de passages dans la boucle est pair #} {% if loop.index is even %} class="success" {% else %} class="info" {% endif %}>
                    <td>{{ session.formation.id }}</td>
                    <td>{{ session.formation.libelle }}-{{ session.formation.niveau }}</td>
                    <td>{{ session.formation.description }}-{{ session.formation.description }}</td>
                    <td>{{ session.dateDebut|date('Y-m-d') }}</td>
                    {% if session.nbInscrits < session.nbPlaces %}
                        <td><a href="{{ path('form_armor_client_session_inscrire', {'idSession': session.id}) }}"
                               class="btn" data-toggle="modal">Inscription</a></td>
                    {% elseif session.nbInscrits == session.nbplaces %}
                        <td><a>Plus de place disponible</a></td>
                    {% elseif session.id and session.formation.id %}
                        <td><a>Pré-inscrit</a></td>
                    {% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<ul class="pagination">
		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('form_armor_client_session', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
        {% embed "FormArmorBundle::modal.html.twig" %}
        {% endembed%}
        <script>
            $(function() {
                $('#menu4').attr('class', 'active');

                {% if textePop != "vide" %}
                    $('#memberModal').modal('show');
                {% endif %}
            });
	</script>
{% endblock %}
