{% extends "FormArmorBundle:Admin:admin_layout.html.twig" %}
{% block FormArmor_body %}
    <h2>AFFICHAGE DES SESSIONS DE FORMATION</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Formation</th>
            <th>Description</th>
            <th>Nombre de places</th>
            <th>Nombre d'inscrits</th>
            <th>Date début</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for session in lesSessions1 %}

            <tr class="danger">
                <td>
                    <a href="{{ path('form_armor_admin_session_affich', {'idSession': session.id}) }}">{{ session.formation.libelle }}
                        -{{ session.formation.niveau }}</a></td>
                <td>{{ session.formation.description }}-{{ session.formation.description }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbInscrits }}</td>
                <td>{{ session.dateDebut|date('Y-m-d') }}</td>
                <td><a href="{{ path('form_armor_admin_session_affich', {'idSession': session.id}) }}">Ouvrir</a></td>
            </tr>
        {% endfor %}

        {% for session in lesSessions2 %}
            <tr {# si le nombre de passages dans la boucle est pair #} {% if loop.index is even %} class="success" {% else %} class="info" {% endif %}>
                <td>
                    <a href="{{ path('form_armor_admin_session_affich', {'idSession': session.id}) }}">{{ session.formation.libelle }}
                        -{{ session.formation.niveau }}</a></td>
                <td>{{ session.formation.description }}-{{ session.formation.description }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbInscrits }}</td>
                <td>{{ session.dateDebut|date('Y-m-d') }}</td>
                <td><a href="{{ path('form_armor_admin_session_affich', {'idSession': session.id}) }}">Ouvrir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('form_armor_client_session', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
    {% embed "FormArmorBundle::modal.html.twig" %}
    {% endembed %}
    <script>
        $(function () {
            $('#menu4').attr('class', 'active');

            {% if textePop != "vide" %}
            $('#memberModal').modal('show');
            {% endif %}
        });
    </script>
{% endblock %}
